fastapi
uvicorn
sqlalchemy
pydantic
pydantic[email]
python-dotenv
python-multipart
pypdf

langchain
langchain-core
langchain-groq
langchain-community
langchain-huggingface
faiss-cpu
sentence-transformers